################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventManagementSystem/.vs/EventManagementSystem.slnx
